/*fonts*/
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Harmattan-Bold.ttf);
    src: url(../fonts/Harmattan-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Tajawal-Black.ttf);
    src: url(../fonts/Tajawal-Bold.ttf);
    src: url(../fonts/Tajawal-ExtraBold.ttf);
    src: url(../fonts/Tajawal-ExtraLight.ttf);
    src: url(../fonts/Tajawal-Light.ttf);
    src: url(../fonts/Tajawal-Medium.ttf);
    src: url(../fonts/Tajawal-Regular.ttf);

}

body{
    direction: rtl;
}
.dropdown-menu{
    text-align: right;
}
#brands{
    direction: ltr;
}
.float-right {
    float: left!important;
}
.modal {

    text-align: right;
}
#services{
    text-align: right;
}
.navbar-collapse{
    text-align: right;
}
.navbar-nav{
    padding-right: 11px;
}
.letter-spacing2{
    letter-spacing: unset;
}
@media (max-width: 992px){
    .navbar-brand {
        position: absolute;
        top: 0;
        left: 10px;
        right: unset;
    }
}